:root {
  --react-blue: hsla(193, 94%, 68%, 1);
  --icon-delete: hsla(0, 99%, 59%, 1);
  --bg-elevate-0: hsla(200, 13%, 95%, 1);
}

.plusButton {
  position: relative;
  width: 5rem;
  height: 5rem;
  bottom: 3rem;
  left: 15rem;
  border: solid 0.2rem var(--react-blue);
  background-color: var(--react-blue);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 1;
}

.plus {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  font-weight: 700;
  transform: rotate(0);
  transition: 1s ease;
  color: var(--bg-elevate-0);
}

.plus:hover {
  transform: rotate(225deg);
}