:root {
  --react-blue: hsla(193, 94%, 68%, 1);
  --icon-delete: hsla(0, 99%, 59%, 1);
  --bg-elevate-0: hsla(200, 13%, 95%, 1);
}

.plusButton {
  position: relative;
  width: 5rem;
  height: 5rem;
  bottom: 3rem;
  left: 15rem;
  border: solid 0.2rem var(--react-blue);
  background-color: var(--react-blue);
  border-radius: 50%;
  /* box-shadow: 0px 5px 25px 0px var(--react-blue); */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: bottom 1s, border-radius 1s ease; */
  margin: auto;
}

.plus {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  font-weight: 700;
  transform: rotate(0);
  transition: 1s ease;
  color: var(--bg-elevate-0);
}

.plus:hover {
  transform: rotate(225deg);
}

/* .plusButton--clicked {
  border: solid 0.2rem var(--icon-delete);
  background-color: var(--icon-delete);
  box-shadow: 0px 5px 25px 0px var(--icon-delete);
  bottom: 13rem;
  border-radius: 1rem 1rem 0 0;
}

.plus--clicked {
  transform: rotate(225deg);
} */
