.header {
  width: 32.7rem;
  margin: 0 auto;
  padding-top: 10.5rem;
}

.title,
.title span {
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: 0rem;
  text-align: center;
  width: 70%;
  margin: auto;
  }

.title {
  font-weight: 400;
}

span {
  font-weight: 700;
}
