:root {
  --bg-elevate-0: hsla(200, 13%, 95%, 1);
  --bg-elevate-1: hsla(0, 0%, 98%, 1);
  --react-blue: hsla(193, 94%, 68%, 1);
  --text-border-black: hsla(240, 2%, 12%, 1);
  --icon-default: hsla(0, 0%, 49%, 1);
  --icon-success: hsla(120, 99%, 37%, 1);
  --icon-delete: hsla(0, 99%, 59%, 1);
  --bg-elevate-99: hsla(220, 12%, 14%, 0.015);
  --placeholder: hsla(220, 12%, 14%, 0.2);
  --edit: hsla(218, 45%, 22%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-width: 37.5rem;
  max-width: 37.5rem;
  height: auto;
  margin: auto;
}

#root {
  background: var(--bg-elevate-99);
  height: 100%;
  width: 100%;
  margin: auto;
}

input {
  border: solid 0.2rem var(--placeholder);
}

input::placeholder {
  color: var(--placeholder);
}

input:focus {
  border: solid 0.2rem var(--text-border-black);
  outline: none;
}

ul {
  list-style: none;
  width: 32.7rem;
  margin: 4rem auto 8rem;
}